extends layout

block content
	// dropdown of accounts
	h2= "Companies Dashboard"
	label Companies
	select#accounts.chosen-select(data-placeholder="Choose Company")
		each id, name in accounts
			option(id=id) #{name}
	hr
	// LOGGING CALL NOTES // 
	label Subject
	br
	input#subject(type=text)(style="width: 250px")
	br
	Label Log Company Call Notes
	br
	textarea#companyNotes(style="width: 250px; height: 75px")
	br
	br
	Label User
	br
	select#vfaList.chosen-select(data-placeholder="Choose Yourself")
		each id, name in vfaList
			option(id=id) #{name}
	br
	br
	button#logNotes Log Notes & Update Account
	p#responseResult
	hr
	// ACCOUNT ATTRIBUTES // 
	label VFA City 
	select#VFA_City__c(value="VFA_City__c")
		each id, name in city
			option(id=id)(value=id) #{name}
	br
	label Website 
	input#Website(type="url")
	br
	label Short Description
	br
	textarea#Description(style="width:250px; height: 25px")
	br
	label Long Description
	br
	textarea#Long_Description__c(style="width: 250px; height: 75px")
	hr
	label Year Founded 
	input#Year_Founded__c(type="number")(value="Year_Founded__c")
	br
	label Number of Employees
	input#NumberOfEmployees(type="number")(value="NumberOfEmployees")
	br
	label Funding Amount  
	select#Funding_Amount__c(value="Funding_Amount__c")
		each id, name in fundingAmount
			option(id=id) #{name}
	br
	label Company Type 
	select#Company_Type__c(value="Company_Type__c")
		each id, name in companyType
			option(id=id) #{name}
	br
	label Customer Type 
	select#Customer_Type__c(value="Customer_Type__c")
		each id, name in customerType
			option(id=id) #{name}
	br
	label Product Type 
	select#Product_Type__c(value="Product_Type__c")
		each id, name in productType
			option(id=id) #{name}
	br
	label Industry 
	br
	label Female Founder 
	select#Female_Founder__c(value="Female_Founder__c")
		option(value="true") Yes
		option(value="false") No
	br
	label URM Founder 
	select#URM_Founder__c(value="URM_Founder__c")
		option(value="true") Yes
		option(value="false") No
	hr
	script.
		$(".chosen-select").chosen();
	script.
		// when accounts value changed
		$("#accounts").change( function (e) {
			console.log("Account changed. let's grab values");
			var id = $(this).find('option:selected').attr("id");
			$.get("company-info", { id : id }, function ( data ) {
				console.log(data);
				for (key in data) {
					if($(key).length) {
						if(data[key] !== null) {
							console.log($(key)[0].tagName);
							$(key).val(data[key].toString());
						} else {
							$(key).val("");
						}
					}
				}
				
			});
		});
	script.
		// for logging notes and updating account
		$("#logNotes").click( function (e) {
			console.log("Note button clicked. Lets add to salesforce!");

			var accountId = $("#accounts").find('option:selected').attr("id");
			console.log("company salesforce id: " + accountId);
			
			var subject      = $("#subject").val();
			var notes = $("#companyNotes").val();
			var vfaId        = $("#vfaList").find('option:selected').attr("id");
			var relatedTo    = $("#relatedToList").find('option:selected').attr("id");

			// FOR SLACK // 
			var companyName = $("#accounts").find('option:selected').val();
			var userName   = $("#vfaList").find('option:selected').val();
			
			console.log("subject: " + subject);
			console.log("notes: " + notes);
			console.log("vfa id: " + vfaId);

			var loadingCounter = 1;
			$("#responseResult").html("<h4>Creating & Updating.</h4>");
			var interval = setInterval( function() {
				loadingCounter        = loadingCounter + 1;
				loadingCounterModulo  = loadingCounter % 3;

				if ( loadingCounterModulo == 0 ) {
					return $('#responseResult').html("<h4>Creating & Updating...</h4");
				}

				if ( loadingCounterModulo == 1 ) {
					return $('#responseResult').html("<h4>Creating & Updating.</h4");
				}

				if ( loadingCounterModulo == 2 ) {
					return $('#responseResult').html("<h4>Creating & Updating..</h4");
				}
			}, 600);

			$.post("lognotes-company", {
				vfaId       : vfaId,   
				subject     : subject, 
				description : notes,
				accountId   : accountId,
				companyName : companyName, 
				userName    : userName
			})
			 .done( function ( data ) {
				console.log( data );
				clearInterval(interval);
				$('#responseResult').html(data);

				var responseCounter = 0;
				var responseAlert = function () {
					responseCounter = responseCounter + 1;
					if (responseCounter == 1) {
						return $("#responseResult").html("");
					}

					if (responseCounter == 2) {
						clearInterval(responseInterval);
					}
				};
				var responseInterval = setInterval(responseAlert, 2000);
			});
		});
		