extends layout

block content
	// dropdown of accounts

	h2= "Companies Dashboard"
	br
	form.form-horizontal
		.form-group
			label.col-sm-3.control-label Companies
			.col-sm-9
				select#accounts.chosen-select.form-control(data-placeholder="Choose Company")
					each id, name in accounts
						option(id=id) #{name}
	hr

	// LOGGING CALL NOTES // 

	form.form-horizontal

		.form-group
			label.col-sm-3.control-label Subject
			.col-sm-9
				input#subject.form-control

		.form-group
			Label.col-sm-3.control-label Log Company Call Notes
			.col-sm-9
				textarea#companyNotes.form-control
		
		.form-group
			Label.col-sm-3.control-label User
			.col-sm-9
				select#vfaList.chosen-select.form-control(data-placeholder="Choose Yourself")
					each id, name in vfaList
						option(id=id) #{name}
		
		.form-group
			.col-sm-offset-3.col-sm-9
				button#logNotes(type="button").btn.btn-default Log Notes
				p#responseResult
	
	hr


	// ACCOUNT ATTRIBUTES // 
	form.form-horizontal

		.form-group
			.col-sm-offset-3.col-sm-9
				button#updateAccount(type="button").btn.btn-default Update Account

		.form-group
			label.col-sm-3.control-label CoPa Association 
			.col-sm-9
				select#CoPa_Association__c.form-control
					each id, name in association
						option(id=id value=id) #{name}
		
		.form-group
			label.col-sm-3.control-label VFA City 
			.col-sm-9
				select#VFA_City__c(value="VFA_City__c").form-control
					each id, name in city
						option(id=id value=id) #{name}
		
		.form-group
			label.col-sm-3.control-label Website 
			.col-sm-9
				input#Website(type="url").form-control
		
		.form-group
			label.col-sm-3.control-label Twitter 
			// get correct api
			.col-sm-9
				input#Twitter_Handle__c(type="text").form-control
		
		.form-group
			label.col-sm-3.control-label AngelList 
			.col-sm-9
				input#AngelList_Link__c(type="text").form-control
		
		.form-group
			label.col-sm-3.control-label Blog
			.col-sm-9
				input#Blog_Link__c(type="text").form-control
		
		.form-group
			label.col-sm-3.control-label Short Description
			.col-sm-9
				textarea#Description.form-control
		
		.form-group
			label.col-sm-3.control-label Long Description
			.col-sm-9
				textarea#Long_Description__c.form-control
		
		.form-group
			label.col-sm-3.control-label Year Founded 
			.col-sm-9
				input#Year_Founded__c(type="number" value="Year_Founded__c").form-control
		
		.form-group
			label.col-sm-3.control-label Number of Employees
			.col-sm-9
				input#NumberOfEmployees(type="number" value="NumberOfEmployees").form-control
		
		.form-group
			label.col-sm-3.control-label Funding Type	 
			.col-sm-9
				select#Funding_Type__c.form-control
					each id, name in fundingType
						option(id=id value=id) #{name}
		
		.form-group
			label.col-sm-3.control-label Funding Amount 
			.col-sm-9
				select#Funding_Amount__c(value="Funding_Amount__c").form-control
					each id, name in fundingAmount
						option(id=id) #{name}
		
		.form-group
			label.col-sm-3.control-label Company Type 
			.col-sm-9
				select#Company_Type__c(value="Company_Type__c").form-control
					each id, name in companyType
						option(id=id) #{name}
		
		.form-group
			label.col-sm-3.control-label Customer Type 
			.col-sm-9
				select#Customer_Type__c(value="Customer_Type__c").form-control
					each id, name in customerType
						option(id=id) #{name}
		
		.form-group
			label.col-sm-3.control-label Product Type 
			.col-sm-9
				select#Product_Type__c(value="Product_Type__c").form-control
					each id, name in productType
						option(id=id) #{name}
		
		.form-group
			label.col-sm-3.control-label Industry
			.col-sm-9
				select#Industry_USE__c.form-control
					each id, name in industry
						option(id=id value=id) #{name}
		
		.form-group 
			label.col-sm-3.control-label 2012 Hires
			.col-sm-9
				input#X2012_Hires__c(type="number").form-control
		
		.form-group 
			label.col-sm-3.control-label 2013 Hires
			.col-sm-9
				input#X2013_Hires__c(type="number").form-control
		
		.form-group 
			label.col-sm-3.control-label 2014 Hires
			.col-sm-9
				input#X2014_Hires__c(type="number").form-control
		
		.form-group 
			label.col-sm-3.control-label 2015 Hires
			.col-sm-9
				input#X2015_Hires__c(type="number").form-control
		
		.form-group
			label.col-sm-3.control-label Female Founder 
			.col-sm-9
				select#Female_Founder__c(value="Female_Founder__c").form-control
					option(value="true") Yes
					option(value="false") No
		
		.form-group
			label.col-sm-3.control-label URM Founder 
			.col-sm-9
				select#URM_Founder__c(value="URM_Founder__c").form-control
					option(value="true") Yes
					option(value="false") No

	script.
		$("select").chosen({ width: '100%' });
	script.
		// when accounts value changed
		$("#accounts").change( function (e) {
			console.log("Account changed. let's grab values");
			var id = $(this).find('option:selected').attr("id");
			$.get("company-info", { id : id }, function ( data ) {
				console.log(data);
				for (key in data) {
					if($(key).length) {
						if(data[key] !== null) {
							console.log($(key)[0].tagName);
							$(key).val(data[key].toString());
						} else {
							$(key).val("");
						}
					}
				}
				
			});
		});
	script.
		// to update account
		$("#updateAccount").click( function (e) {
			console.log("Let's update account.");
			// need account Id and account name
			// slash need ALL the data I'm going to update

			var accountId    = $("#accounts").find('option:selected').attr("id");
			var companyName  = $("#accounts").find('option:selected').val();

			var association  = $("#CoPa_Association").find('option:selected').val();
			var userName     = $("#vfaList").find('option:selected').val();
			var city         = $("#VFA_City__c").find('option:selected').val();
			var industry     = $("#Industry_USE__c").find('option:selected').val();
			var website      = $("#Website").val();
			var employees    = $("#NumberOfEmployees").val();
			var x2012Employees= $("#X2012_Hires__c").val();
			var x2013Employees= $("#X2013_Hires__c").val();
			var x2014Employees= $("#X2014_Hires__c").val();
			var x2015Employees= $("#X2015_Hires__c").val();
			var yearFounded  = $("#Year_Founded__c").val();
			var fundingType  = $("#Funding_Type__c").find('option:selected').val();
			var fundingAmount= $("#Funding_Amount__c").find('option:selected').val();
			var customerType = $("#Customer_Type__c").find('option:selected').val();
			var companyType  = $("#Company_Type__c").find('option:selected').val();
			var productType  = $("#Product_Type__c").find('option:selected').val();
			var femaleFounder= $("#Female_Founder__c").find('option:selected').val();
			var urmFounder   = $("#URM_Founder__c").find('option:selected').val();
			var description  = $("#Description").val();
			var longDescription= $("#Long_Description__c").val();

			var accountInfo = {
				Id                  : accountId,
				Name                : companyName,
				CoPa_Association__c : association,
				VFA_City__c         : city,
				Description         : description,
				Long_Description__c : longDescription,
				Industry_USE__c     : industry,
				NumberOfEmployees   : employees,
				Year_Founded__c     : yearFounded,
				Funding_Type__c     : fundingType,
				Funding_Amount__c   : fundingAmount,
				Company_Type__c     : companyType,
				Customer_Type__c    : customerType,
				Product_Type__c     : productType,
				Female_Founder__c   : femaleFounder,
				URM_Founder__c      : urmFounder,
				Website             : website,
				X2012_Hires__c      : x2012Employees,
				X2013_Hires__c      : x2013Employees,
				X2014_Hires__c      : x2014Employees,
				X2015_Hires__c      : x2015Employees
			};

			var loadingCounter = 1;
			$("#responseResult").html("<h4>Updating.</h4>");
			var interval = setInterval( function() {
				loadingCounter        = loadingCounter + 1;
				loadingCounterModulo  = loadingCounter % 3;

				if ( loadingCounterModulo == 0 ) {
					return $('#responseResult').html("<h4>Updating...</h4");
				}

				if ( loadingCounterModulo == 1 ) {
					return $('#responseResult').html("<h4>Updating.</h4");
				}

				if ( loadingCounterModulo == 2 ) {
					return $('#responseResult').html("<h4>Updating..</h4");
				}
			}, 600);

			$.post("company-update", accountInfo)
				.done( function ( data ) {
					//console.log( data );
					clearInterval(interval);
					$('#responseResult').html("<p>Account successfully updated! You can see the changes in Salesforce and the company-notifications Slack Channel :)</p>");

					var responseCounter = 0;
					var responseAlert = function () {
						responseCounter = responseCounter + 1;
						if (responseCounter == 1) {
							return $("#responseResult").html("");
						}

						if (responseCounter == 2) {
							clearInterval(responseInterval);
						}
					};
					var responseInterval = setInterval(responseAlert, 3000);
					$("#subject").val("");
					$("#companyNotes").val("");
				});
		});
	script.
		// for logging notes
		$("#logNotes").click( function (e) {
			console.log("Note button clicked. Lets add to salesforce!");

			var accountId = $("#accounts").find('option:selected').attr("id");
			console.log("company salesforce id: " + accountId);
			
			var subject      = $("#subject").val();
			var notes = $("#companyNotes").val();
			var vfaId        = $("#vfaList").find('option:selected').attr("id");
			var relatedTo    = $("#relatedToList").find('option:selected').attr("id");

			// FOR SLACK // 
			var companyName = $("#accounts").find('option:selected').val();
			var userName   = $("#vfaList").find('option:selected').val();
			
			console.log("subject: " + subject);
			console.log("notes: " + notes);
			console.log("vfa id: " + vfaId);

			var loadingCounter = 1;
			$("#responseResult").html("<h4>Logging.</h4>");
			var interval = setInterval( function() {
				loadingCounter        = loadingCounter + 1;
				loadingCounterModulo  = loadingCounter % 3;

				if ( loadingCounterModulo == 0 ) {
					return $('#responseResult').html("<h4>Logging...</h4");
				}

				if ( loadingCounterModulo == 1 ) {
					return $('#responseResult').html("<h4>Logging.</h4");
				}

				if ( loadingCounterModulo == 2 ) {
					return $('#responseResult').html("<h4>Logging..</h4");
				}
			}, 600);

			$.post("lognotes-company", {
				vfaId       : vfaId,   
				subject     : subject, 
				description : notes,
				accountId   : accountId,
				companyName : companyName, 
				userName    : userName
			})
			 .done( function ( data ) {
				console.log( data );
				clearInterval(interval);
				$('#responseResult').html(data);

				var responseCounter = 0;
				var responseAlert = function () {
					responseCounter = responseCounter + 1;
					if (responseCounter == 1) {
						return $("#responseResult").html("");
					}

					if (responseCounter == 2) {
						clearInterval(responseInterval);
					}
				};
				var responseInterval = setInterval(responseAlert, 3000);
				$("#subject").val("");
				$("#companyNotes").val("");
			});
		});
		