extends layout

block content
	if !user
		a(href="auth/google") Login with Google
		br
	else if user
		a(href="/logout") Logout
		br
	// dropdown of accounts
	h2= "Companies Dashboard"
	label Companies
	select#accounts.chosen-select(data-placeholder="Choose Company")
		each id, name in accounts
			option(id=id) #{name}
	hr
	// LOGGING CALL NOTES // 
	label Subject
	br
	input#subject(type=text style="width: 250px")
	br
	Label Log Company Call Notes
	br
	textarea#companyNotes(style="width: 250px; height: 75px")
	br
	br
	Label User
	br
	select#vfaList.chosen-select(data-placeholder="Choose Yourself")
		each id, name in vfaList
			option(id=id) #{name}
	br
	br
	button#logNotes(type="button" class="btn btn-success") Log Notes
	p#responseResult
	hr
	// ACCOUNT ATTRIBUTES // 
	button#updateAccount(type="button" class="btn btn-success") Update Account
	br
	br
	
	form.form-horizontal
		div.form-group
			label CoPa Association 
			select#CoPa_Association__c
				each id, name in association
					option(id=id value=id) #{name}
		
		div.form-group
			label VFA City 
			select#VFA_City__c(value="VFA_City__c")
				each id, name in city
					option(id=id value=id) #{name}
		
		div.form-group
			label Website 
			input#Website(type="url")
		
		div.form-group
			label Twitter 
			// get correct api
			input#Twitter_Handle__c(type="text")
		
		div.form-group
			label AngelList 
			input#AngelList_Link__c(type="text")
		
		div.form-group
			label Blog
			input#Blog_Link__c(type="text")
		
		div.form-group
			label Short Description
			br
			textarea#Description(style="width:250px; height: 25px")
		
		div.form-group
			label Long Description
			br
			textarea#Long_Description__c(style="width: 250px; height: 75px")
		
		div.form-group
			label Year Founded 
			input#Year_Founded__c(type="number" value="Year_Founded__c")
		
		div.form-group
			label Number of Employees
			input#NumberOfEmployees(type="number" value="NumberOfEmployees")
		
		div.form-group
			label Funding Type 	
			select#Funding_Type__c
				each id, name in fundingType
					option(id=id value=id) #{name}
		
		div.form-group
			label Funding Amount 
			select#Funding_Amount__c(value="Funding_Amount__c")
				each id, name in fundingAmount
					option(id=id) #{name}
		
		div.form-group
			label Company Type 
			select#Company_Type__c(value="Company_Type__c")
				each id, name in companyType
					option(id=id) #{name}
		
		div.form-group
			label Customer Type 
			select#Customer_Type__c(value="Customer_Type__c")
				each id, name in customerType
					option(id=id) #{name}
		
		div.form-group
			label Product Type 
			select#Product_Type__c(value="Product_Type__c")
				each id, name in productType
					option(id=id) #{name}
		
		div.form-group
			label Industry
			select#Industry_USE__c
				each id, name in industry
					option(id=id value=id) #{name}
		
		div.form-group 
			label 2012 Hires
			input#X2012_Hires__c(type="number")
		
		div.form-group 
			label 2013 Hires
			input#X2013_Hires__c(type="number")
		
		div.form-group 
			label 2014 Hires
			input#X2014_Hires__c(type="number")
		
		div.form-group 
			label 2015 Hires
			input#X2015_Hires__c(type="number")
		
		div.form-group
			label Female Founder 
			select#Female_Founder__c(value="Female_Founder__c")
				option(value="true") Yes
				option(value="false") No
		
		div.form-group
			label URM Founder 
			select#URM_Founder__c(value="URM_Founder__c")
				option(value="true") Yes
				option(value="false") No
	
	hr
	
	script.
		$(".chosen-select").chosen();
	script.
		// when accounts value changed
		$("#accounts").change( function (e) {
			console.log("Account changed. let's grab values");
			var id = $(this).find('option:selected').attr("id");
			$.get("company-info", { id : id }, function ( data ) {
				console.log(data);
				for (key in data) {
					if($(key).length) {
						if(data[key] !== null) {
							console.log($(key)[0].tagName);
							$(key).val(data[key].toString());
						} else {
							$(key).val("");
						}
					}
				}
				
			});
		});
	script.
		// to update account
		$("#updateAccount").click( function (e) {
			console.log("Let's update account.");
			// need account Id and account name
			// slash need ALL the data I'm going to update

			var accountId    = $("#accounts").find('option:selected').attr("id");
			var companyName  = $("#accounts").find('option:selected').val();

			var association  = $("#CoPa_Association").find('option:selected').val();
			var userName     = $("#vfaList").find('option:selected').val();
			var city         = $("#VFA_City__c").find('option:selected').val();
			var industry     = $("#Industry_USE__c").find('option:selected').val();
			var website      = $("#Website").val();
			var employees    = $("#NumberOfEmployees").val();
			var x2012Employees= $("#X2012_Hires__c").val();
			var x2013Employees= $("#X2013_Hires__c").val();
			var x2014Employees= $("#X2014_Hires__c").val();
			var x2015Employees= $("#X2015_Hires__c").val();
			var yearFounded  = $("#Year_Founded__c").val();
			var fundingType  = $("#Funding_Type__c").find('option:selected').val();
			var fundingAmount= $("#Funding_Amount__c").find('option:selected').val();
			var customerType = $("#Customer_Type__c").find('option:selected').val();
			var companyType  = $("#Company_Type__c").find('option:selected').val();
			var productType  = $("#Product_Type__c").find('option:selected').val();
			var femaleFounder= $("#Female_Founder__c").find('option:selected').val();
			var urmFounder   = $("#URM_Founder__c").find('option:selected').val();
			var description  = $("#Description").val();
			var longDescription= $("#Long_Description__c").val();

			var accountInfo = {
				Id                  : accountId,
				Name                : companyName,
				CoPa_Association__c : association,
				VFA_City__c         : city,
				Description         : description,
				Long_Description__c : longDescription,
				Industry_USE__c     : industry,
				NumberOfEmployees   : employees,
				Year_Founded__c     : yearFounded,
				Funding_Type__c     : fundingType,
				Funding_Amount__c   : fundingAmount,
				Company_Type__c     : companyType,
				Customer_Type__c    : customerType,
				Product_Type__c     : productType,
				Female_Founder__c   : femaleFounder,
				URM_Founder__c      : urmFounder,
				Website             : website,
				X2012_Hires__c      : x2012Employees,
				X2013_Hires__c      : x2013Employees,
				X2014_Hires__c      : x2014Employees,
				X2015_Hires__c      : x2015Employees
			};

			var loadingCounter = 1;
			$("#responseResult").html("<h4>Updating.</h4>");
			var interval = setInterval( function() {
				loadingCounter        = loadingCounter + 1;
				loadingCounterModulo  = loadingCounter % 3;

				if ( loadingCounterModulo == 0 ) {
					return $('#responseResult').html("<h4>Updating...</h4");
				}

				if ( loadingCounterModulo == 1 ) {
					return $('#responseResult').html("<h4>Updating.</h4");
				}

				if ( loadingCounterModulo == 2 ) {
					return $('#responseResult').html("<h4>Updating..</h4");
				}
			}, 600);

			$.post("company-update", accountInfo)
				.done( function ( data ) {
					//console.log( data );
					clearInterval(interval);
					$('#responseResult').html("<p>Account successfully updated! You can see the changes in Salesforce and the company-notifications Slack Channel :)</p>");

					var responseCounter = 0;
					var responseAlert = function () {
						responseCounter = responseCounter + 1;
						if (responseCounter == 1) {
							return $("#responseResult").html("");
						}

						if (responseCounter == 2) {
							clearInterval(responseInterval);
						}
					};
					var responseInterval = setInterval(responseAlert, 3000);
					$("#subject").val("");
					$("#companyNotes").val("");
				});
		});
	script.
		// for logging notes
		$("#logNotes").click( function (e) {
			console.log("Note button clicked. Lets add to salesforce!");

			var accountId = $("#accounts").find('option:selected').attr("id");
			console.log("company salesforce id: " + accountId);
			
			var subject      = $("#subject").val();
			var notes = $("#companyNotes").val();
			var vfaId        = $("#vfaList").find('option:selected').attr("id");
			var relatedTo    = $("#relatedToList").find('option:selected').attr("id");

			// FOR SLACK // 
			var companyName = $("#accounts").find('option:selected').val();
			var userName   = $("#vfaList").find('option:selected').val();
			
			console.log("subject: " + subject);
			console.log("notes: " + notes);
			console.log("vfa id: " + vfaId);

			var loadingCounter = 1;
			$("#responseResult").html("<h4>Logging.</h4>");
			var interval = setInterval( function() {
				loadingCounter        = loadingCounter + 1;
				loadingCounterModulo  = loadingCounter % 3;

				if ( loadingCounterModulo == 0 ) {
					return $('#responseResult').html("<h4>Logging...</h4");
				}

				if ( loadingCounterModulo == 1 ) {
					return $('#responseResult').html("<h4>Logging.</h4");
				}

				if ( loadingCounterModulo == 2 ) {
					return $('#responseResult').html("<h4>Logging..</h4");
				}
			}, 600);

			$.post("lognotes-company", {
				vfaId       : vfaId,   
				subject     : subject, 
				description : notes,
				accountId   : accountId,
				companyName : companyName, 
				userName    : userName
			})
			 .done( function ( data ) {
				console.log( data );
				clearInterval(interval);
				$('#responseResult').html(data);

				var responseCounter = 0;
				var responseAlert = function () {
					responseCounter = responseCounter + 1;
					if (responseCounter == 1) {
						return $("#responseResult").html("");
					}

					if (responseCounter == 2) {
						clearInterval(responseInterval);
					}
				};
				var responseInterval = setInterval(responseAlert, 3000);
				$("#subject").val("");
				$("#companyNotes").val("");
			});
		});
		