extends layout

block content
	.container-fluid
		h2= "CoPa Dashboard"
		br
		script(type="text/javascript").
			//D3
			var dataset = [ 5, 10, 15, 20, 25 ];
			d3.select("body").selectAll("div")
				.data(dataset)
				.enter()
				.append("div")
				.attr("class", "bar");
		
		h3= "New Accounts Created This Month"
		.row
			.col-sm-9
				.table-responsive
					table.table.table-bordered.table-hover.table-condensed
						thead
							tr
								td.col-xs-6= "City"
								td.col-xs-3= "Qty"
						tbody
						each number, city in thisMonth
							tr
								td #{city}
								td #{number}
		
		h3= "Total Accounts Per City"
		.row
			.col-sm-9
				.table-responsive
					table.table.table-bordered.table-hover.table-condensed
						thead
							tr
								td.col-xs-6= "City"
								td.col-xs-3= "Qty"
						tbody
						each number, city in totalCount
							tr
								td #{city}
								td #{number}
		
		h3= "Total Active Partner Accounts Per City"
		.row
			.col-sm-9
				.table-responsive
					table.table.table-bordered.table-hover.table-condensed
						thead
							tr
								td.col-xs-6= "City"
								td.col-xs-3= "Qty"
						tbody
						each number, city in partnerCount
							tr
								td #{city}
								td #{number}
		
		h3= "Total Active Potential Accounts Per City"
		.row
			.col-sm-9
				.table-responsive
					table.table.table-bordered.table-hover.table-condensed
						thead
							tr
								td.col-xs-6= "City"
								td.col-xs-3= "Qty"
						tbody
						each number, city in potentialCount
							tr
								td #{city}
								td #{number}