extends layout

	// left nav
	div(class="col-md-6")
	
	// stats
	// what if for each of these
	// we could do it programmatically? 
	// doesn't really matter. job done is important

	// 2012 fellows count
	// 2013 fellows count
	// 2014 fellows count
	// 2015 fellows count
	// 2016 fellows count
	// for each key, value in fellowCountPerYear
		//p #{key} Fellows: #{value}

	// filters and navs 
		// filter by year
			// need picklist of fellow year values
			// could also do manual because so few
		//select#fellowClassYears.chosen-select(multiple="true")
			//for each key, value in fellowClassYears
				//option(value=value id=key) #{value}
		
		// filter by city
			// need picklist of city values
			// need to get these values on first call
			// to fellow dashboard
		//select#vfaCities.chosen-select(multiple="true")
			//for each key, value in vfaCities
				//option(value=value id=key) #{value}

	// middle newsfeed
	div(class="col-md-3")
		// pull in fellow data into hear
		for each key, value in fellows
			// layout table rows 
			p(id=value.fellowId) - #{value.name} #{value.city} #{value.company}
			button#fellowInfo(type="button" class="btn btn-info" id=value.fellowId)
	// right detail panel
	div(class="col-md-3")
	// see more
	script.
		// chosen select multi-select 
	script.
		// You clicked on See More
		$("#fellowInfo").click( function(e) {
			// grab id
			var id = $(this).attr("id");
			// post fellow-data v2 to get info
			// what to do about activities, cases, etc. 
			// need to build the box
		})
	script.
		// You clicked on a city filter (might be changed)
		/*
		$("#vfaCities").change( function (e) {
			// get the fellow dashboard
			// i guess with jquery we're going to update each time
			// long term game plan, angular
			var vfaCitiesToFilterOn = $(this).find("option:selected").val();
			// above line should be an *array* of values 
			// if multiple options selected

			// also need to get any year filters
			/*
			var fellowClassYearsToFilterOn;
			if ($(#fellowClassYears).find("option:selected").val() !== null) {
				// grab the values
				fellowClassYearsToFilterOn = $(#fellowClassYears).find("option:selected").val();
			}
			*/

			// send both possible filters to the server
			$.get("fellow-dashboard",
			{
				vfaCitiesToFilterOn        : vfaCitiesToFilterOn, 
				//fellowClassYearsToFilterOn : fellowClassYearsToFilterOn
			})
			.done( function (data) {
				// i need to make sure the filters persist on the rerender
			});
		});
		*/












