extends layout

block content
	h1= title
	p Welcome to #{title}
	button.btn(id="script").
	h2= "CoPa Potential Partners"
	each record, index in results 
		p= record.Name
	h2= "Jason's Jobs"
	each record, index in jobHistory
		p= record.Name
