extends layout

block content
	h1= title
	h2= "Select Fellow"
	select#fellow
		each id, name in fellowList
			option(id=id) #{name}
	br
	h2= "Log Notes"
	label Subject 
	input(id="subject")
	br
	label Notes 
	textarea(id="notes")
	br
	label User 
	select#vfaList
		each id, name in vfaList
			option(id=id) #{name}
	br
	br
	button#logNotes Log Notes
	p#noteSubmission
	p#results
	h2= "CoPa Potential Partners"
	each record, index in results 
		p= record.Name
	script.
		$("#fellow").change(function(e){
			console.log("Here!");
			//e.preventDefault();
			var sfId = $(this).find('option:selected').attr("id");
			console.log(sfId);
			$.get("users", {id: sfId}, function ( data ) {
				console.log("data: " + data)
				$('#results').html(data);
			});
		})
	script.
		$("#logNotes").click(function(e){
			console.log("clicked!");

			var fellowId = $("#fellow").find('option:selected').attr("id");
			console.log("fellow salesforce id: " + fellowId);
			
			var subject   = $("#subject").val();
			var notes     = $("#notes").val();
			var vfaId     = $("#vfaList").find('option:selected').attr("id");
			
			console.log("subject: " + subject);
			console.log("notes: " + notes);
			console.log("vfa id: " + vfaId);
			console.log("fellow id: ")

			$.post("lognotes", {
				fellowId    : fellowId,
				vfaId       : vfaId,   
				subject     : subject, 
				description : notes
			}, function ( data ) {
				alert("notes logged!");
			})
		})

