extends layout

block content
	h1= title
	p Welcome to #{title}
	textarea
	br
	input
	h2= "Select Fellow"
	select#fellow
		each user, name in fellowList
			option(id=user) #{name} #{user}
	h2= "CoPa Potential Partners"
	each record, index in results 
		p= record.Name
	p#results
	script.
		$("#fellow").change(function(e){
			console.log("Here!");
			//e.preventDefault();
			var sfId = $(this).find('option:selected').attr("id");
			console.log(teamId);
			$.get("users", {id: sfId}, function ( data ) {
				console.log("data: " + data)
				$('#results').html(data);
			});
		})

