h2= "Fellow Info"
a(href='#{fellowUrl}' target="_blank") Salesforce Profile Link
h3= "Contact Info"
ul#fellowInfo
	each data in contactInfo
		li= data
h3= "Company Info"
ul#companyInfo
	each data in companyInfo
		li= data
h4= "Supervisor"
ul#supervisorInfo
	each data in supervisorInfo
		li= data
h3= "Personal Info"

h2= "Fellow Most Recent SurveyGizmo"
h3= "Company Partner Quant"
ul#companyQuant
	each data in companyPartnerQuant
		li= data
h3= "Fellow Self-Evaluation Job"
ul#fellowQuant
	each data in selfEvaluationJobQuant
		li= data
h3= "Company Partner Long-Form"
ul#companyLongForm
	each data in companyPartnerLongForm
		li= data
h3= "Fellow Long-Form"
ul#fellowLongForm
	each data in selfEvaluationJobLongForm
		li= data
h2 Recent Activities
	each activity, subject in activityList
		h3= "Subject: " + subject 
		p Created By: #{activity.createdBy}
		p Date: #{activity.createdDate} 
		p. 
			URL: #[a(href='#{activity.url}' target="_blank") Salesforce Link]	
		p Activity:	
		p #{activity.description}
h2= "Recent Cases"
ul#fellowCaseList
	each subject, name in caseList
		h3= name
		each prop in subject
			li= prop